html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

canvas {
    position:absolute;

    border: 1px solid black;
}

#background {
    z-index: 100;
}

#people {
    z-index: 200;
}

#bar {
    z-index: 300;
}

#glass {
    z-index: 400;
}

#effects {
    z-index: 500;
}